* {
  box-sizing: border-box;
}

html {
  width: 100vw;;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact;
  font-weight: 100;
  letter-spacing: 2px;
}

/* .main {
  width: 100vw;
  height: 100vh;
  padding: 10px;
} */

/* ________________________HEADER______________________ */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0;
  margin-top: -5px;
  letter-spacing: 2px;
}

header > a {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration-line: none;
}

header a:hover {
  color: slategray;
  margin: 0;
  padding: 0;
}

header h2 {
  display: flex;
  font-size: 30px;
}

/* _________________________QUIZ WINDOW_________________________ */

.quiz-window {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  padding-bottom: 100px;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
}

/* .title {
  display: block;
  text-align: center;
} */

.quiz-window h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.quiz-window h3 {
  max-width: 650px;
  text-align: center;
  padding-bottom: 26px;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.start-button {
  width: 10rem;
  padding: 4px 4px;
  font-size: 24px;
  color: whitesmoke;
  background: slategray;
  border: 1px solid slategray;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background: powderblue;
  color: #000;
} 


/* .content {
  text-align: center;
  padding-top: 5%;
} */

/* .highscores {
  line-height: 3;
} */

/* .higher {
  text-align: initial;
} */

/* .intro {
  padding: 1%;
  display: inline-block;
  width: 60%;
} */

/* .center {
  text-align: center;
} */

/* .btn {
  background-color: blueviolet;
  border-color: blueviolet;
  display: inline-block;
  margin: 1%;
} */

/* .left {
text-align: left;

} */
/* .quiz.btn {
margin-left: 25%;
} */

.quiz {
  display: none;
}

#feedback {
margin-left: 25%;
color: #bbbbbb;
font-style: italic;
}

hr {
  width: 50%;
  padding: 1% auto;
}



/* _____________________________________________________________ */


#timeDisplay {
  display: inline-block;
  font-size: 1.50rem;
}

.content {
  text-align: center;
  padding-top: 5%;
  text-align: center;
}

.highscores {
  line-height: 3;
}

.higher {
  text-align: initial;
}

.sub-cont {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 2%;
  display: inline-block;
  width: 42%;
}

.title {
  font-size: 40px;
}

/* .center {
  text-align: center;
} */

.start-button {
  font-size: 28px;
  background: slategray;
}

.quiz-button {
margin-left: 44.5%;
width: 10%;
font-size: 18px;
color: whitesmoke;
letter-spacing: 1px;
background: slategray;
border: 1px solid slategray;
border-radius: 5px;
cursor: pointer;
}

.quiz-button:hover {
  background: powderblue;
  color: #000;
}

.hs-button {
  font-size: 20px;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 4px 4px;
  background: slategray;
  border: 1px solid slategray;
  border-radius: 5px;
  cursor: pointer;
}

.hs-button:hover {
  background: powderblue;
  color: #000;
}

/* .questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40%;
} */

.left {
text-align: left;
line-height: 2;
padding-bottom: 4px;
}


.quiz {
  display: none;
}

#feedback {
margin-left: 25%;
color: #bbbbbb;
font-style: italic;
}

/* hr {
  width: 50%;
  padding: 20px;
} */