* {
  box-sizing: border-box;
}

html {
  width: 100vw;;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

/* ________________________HEADER______________________ */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0;
  margin-top: -5px;
  letter-spacing: 2px;
}

header > a {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration-line: none;
}

header a:hover {
  color: orange;
  transition: .4s;
}

header h2 {
  display: flex;
  font-size: 30px;
}

#timeDisplay {
  display: inline-block;
  font-size: 1.50rem;
}

/* _________________________Pages_________________________ */

.start-button {
  width: 10rem;
  padding: 4px 4px;
  font-size: 24px;
  color: whitesmoke;
  background: slategray;
  border: 1px solid slategray;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background: powderblue;
  color: #000;
  transition: .4s;
} 

.quiz {
  display: none;
}

hr {
  width: 50%;
  padding: 1% auto;
}

.content {
  text-align: center;
  padding-top: 5%;
  text-align: center;
}

.sub-cont {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 2%;
  display: inline-block;
  width: 42%;
}

.title {
  font-size: 40px;
}

.quiz-button {
margin-left: 41.8%;
width: 15%;
font-size: 18px;
color: whitesmoke;
letter-spacing: 1px;
background: slategray;
border: 1px solid slategray;
border-radius: 5px;
cursor: pointer;
}

.quiz-button:hover {
  background: powderblue;
  color: #000;
  transition: .4s;
}

.hs-button {
  font-size: 20px;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 4px 4px;
  background: slategray;
  border: 1px solid slategray;
  border-radius: 5px;
  cursor: pointer;
}

.hs-button:hover {
  background: powderblue;
  color: #000;
  transition: .4s;
}

.left {
text-align: left;
line-height: 2;
padding-bottom: 4px;
}

.quiz {
  display: none;
}

#result {
margin-left: 25%;
color: #bbbbbb;
font-style: italic;
}

.hs-table {
  background: whitesmoke;
  color: #000;
  width: 15%;
  line-height: 1.5;
  margin-left: 42.5%;
  margin-bottom: 35px;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
  font-size: 26px;
}

.final-score {
  font-size: 24px;
}

input {
  font-size: 18px;
  padding: 3px;
}

.score-submit {
  background: slategray;
  font-size: 20px;
  letter-spacing: 1px;
  color: whitesmoke;
  border: 1px solid slategray;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.score-submit:hover {
  background: powderblue;
  color: #000;
  transition: .4s;
}
